body{
    background-color: lightgrey;
}

.navbar-toggler{
    background-color: black;

}
.navbar-nav .nav-link {
    color: black;
    padding-left: 17px !important;
    
}

.logo {
    width: 150px;
}


.subcolumn{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.borderline,.borderline2{
    border:1px black solid;
}
.borderline:hover{
    border:2px rgb(213, 10, 10) solid;
}


.delete,.delete2{
    cursor: pointer;
    padding-top: 50px;
    padding-bottom: 30px;

}
.CartImageSize{
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.CartProductName, .CartProductName2,.NoOfItem, .PriceOfItem ,.SubTotal,#SubTotal{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.UndoBtn,.UndoBtn2{
    cursor: pointer;
}

.section{
    margin-top: 100px;

}
a{
    text-decoration: none;
    color: black !important;
}
.background{
   
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover; /* Adjust this property to make the background image responsive */
    opacity: 0.9;
    padding-bottom: 210px;
}